body {
            font-family: Arial, sans-serif;
            margin: 20px;
			background-color: #f8f8f8; /* Achtergrondkleur */
			background-image: url("marissa-rodriguez-2mKYEVGA4jE-unsplash.jpg");
			background-repeat: no-repeat; /* Voorkomt dat de achtergrondafbeelding zich herhaalt */
			background-size: cover; /* Make the background cover the entire screen */

        }
		
		form {
			max-width: 700px;
			margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f7f7f7;
		}

        form p {
            font-size: 1.3vw;
            margin-bottom: 5px;
        }
		
		p {
			color: black;
			font-size: 1.2vw;
			text-align: center;
		}

        form input[type="url"],
        form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        form input[type="submit"] {
            display: block;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
        }

        form input[type="submit"]:hover {
            background-color: #45a049;
        }
		
		 h1 {
			color: blue;
            margin-top: 10px;
			text-align: center;
        }

        h2 {
			color: blue;
            margin-top: 10px;
			text-align: center;
        }
		
		h3 {
			color: blue;
			text-align: center;
        }

		
		.flex-container {
			display: flex;
			
			
		}
		.flex-item {
			flex: 1;
			margin: 0 15vw 0 15vw;
			padding: 0 5vw 0 5vw;
			font-family: arial;
			background-color: #ffffff;
			border: 1px solid #f5ada9;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}
		.flex-item2 {
			flex: 1;
			
			font-family: arial;
			background-color: #ffffff;
			border: 1px solid #f5ada9;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}
